.Container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("login-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  width: 70%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;

  h1 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .InputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    input {
      flex: 1;
      min-width: 40%;
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}

.Error {
  color: red;
}

.LoginButton {
  display: flex;
  justify-content: center;

  button {
    width: 60%;
    max-width: 150px;
    padding: 15px 20px;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;

    &:disabled {
      background-color: rgb(56, 192, 192);
      cursor: not-allowed;
    }
  }
}
