.EditUser {
  min-width: 220px;
}

.Title {
  font-size: 24px;
  font-weight: 600;
}

.Form {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 430px) {
    flex-direction: column;
  }
}

.Left {
  .Item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    label {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2px;
    }

    input {
      border: none;
      border-bottom: 1px solid grey;
      width: 20vw;
      min-width: 200px;
      height: 30px;
      margin-right: 10px;
      padding: 0 2px;
      color: darkblue;

      &:focus {
        outline: none;
        border: 1px solid lightgrey;
        border-bottom: 1px solid grey;
      }

      @media only screen and (max-width: 430px) {
        width: 100%;
      }
    }
  }
}

.Right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 430px) {
    align-items: center;
  }

  .Upload {
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
    }

    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 10px;

      @media only screen and (max-width: 660px) {
        height: 70px;
        width: 70px;
        margin: 40px 0 20px 0;
      }
    }
  }

  button {
    background-color: rgb(2, 2, 110);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;

    @media only screen and (max-width: 430px) {
      width: 60%;
      padding: 10px;
      margin-top: 20px;
    }
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}
