@use "src/styles";

.FeatureCard {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 900px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }
}

.Title {
  font-size: 20px;
}

.MoneyContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;

  @media only screen and (max-width: 900px) {
    margin: 10px 3vw;
  }
}

.Money {
  font-size: 30px;
  font-weight: 600;
}

.MoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
  white-space: nowrap;
}

.Icon {
  font-size: 22px;
  margin-left: 5px;
  color: rgb(12, 141, 12);

  &--Negetive {
    @extend .Icon;
    color: rgb(235, 19, 19);
  }
}

.Subtitle {
  font-size: 14px;
}
