.NewUserComponent {
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  > form {
    display: flex;
    flex-direction: column;

    .Body {
      display: flex;
      flex-wrap: wrap;
    }

    > button {
      background-color: darkblue;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      width: 200px;
      margin-top: 20px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.Item {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 20px;

  > label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
  }

  > input {
    height: 30px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  > select {
    height: 30px;
    border-radius: 5px;
  }
}

.Gender {
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;

  label {
    margin: 0 5px;
    color: #555;
    font-size: 14px;
  }
}

.Error {
  color: red;
  margin-top: 10px;
}
