@use "src/styles";

.Chart {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
