.UserInfo {
  overflow-x: auto;
  overflow-y: hidden;
}

.Top {
  display: flex;
  align-items: center;

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  .TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;

    .Name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .Title {
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.Bottom {
  margin-top: 20px;

  .Title {
    font-size: 15px;
    font-weight: 600;
    color: rgb(148, 147, 147);
  }

  .Info {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #555;

    .Icon {
      font-size: 16px;
    }

    span {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
