@use "src/styles";

.EditProduct {
  flex: 3;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;

  form {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.EditDetails {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 500px) {
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 20px;
    max-width: 150px;
  }

  input {
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    width: 150px;

    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

.Upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  button {
    border: none;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
  }
}

.FileUpload {
  display: flex;
  flex-direction: column;

  .ImageContainer {
    display: flex;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    label {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  input {
    display: none;
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
}
