.FeaturedInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.Item {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Title {
  font-size: 20px;
}

.MoneyContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.Money {
  font-size: 30px;
  font-weight: 600;
}

.MoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.Icon {
  font-size: 14px;
  margin-left: 5px;
  color: rgb(12, 141, 12);

  &--Negetive {
    @extend .Icon;
    color: rgb(235, 19, 19);
  }
}
