@use "src/styles";

.WidgetLarge {
  flex: 2;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;
  height: 50vh;
  overflow: hidden;

  h1 {
    font-size: 22px;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 15px 0;
  }
}

.Wrapper {
  height: 50vh;
  overflow: auto;
  padding: 0 20px;
}

.Table {
  width: 100%;
  border-spacing: 20px;
}

.Header {
  text-align: left;
  position: sticky;
  top: 50px;
  background-color: #fff;
  padding: 15px 0;
}

.User {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}

.Date,
.Amount {
  font-weight: 300;
}

.Status {
  button {
    padding: 5px 7px;
    border-radius: 10px;
    border: none;
  }

  &--active {
    @extend .Status;
    button {
      background-color: #e5faf2;
      color: #3bb077;
    }
  }

  &--pending {
    @extend .Status;
    button {
      background-color: #ebf1fe;
      color: #2a7ade;
    }
  }
  &--declined {
    @extend .Status;
    button {
      background-color: #fff0f1;
      color: #d95087;
    }
  }
}
