.NewProductComponent {
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  > form {
    display: flex;

    .Left {
      display: flex;
      flex-wrap: wrap;
    }

    .Right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: darkblue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}

.Item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 20px;

  > label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
  }

  > input {
    height: 30px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  > select {
    height: 30px;
    border-radius: 5px;
  }
}

.Image {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 20px;

  input {
    margin-top: 20px;
  }

  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}
