@use "src/styles";

.NewProductComponent {
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;

  @media only screen and (max-width: 380px) {
    padding: 20px;

    h1 {
      font-size: 24px;
    }
  }

  > form {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }

    .Left {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;

      @media only screen and (max-width: 660px) {
        width: 40vw;
      }
      @media only screen and (max-width: 550px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .Right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: darkblue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        margin-top: 30px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;

        @media only screen and (max-width: 380px) {
          width: 150px;
        }
      }
    }
  }
}

.Item {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;

  @media only screen and (max-width: 380px) {
    align-items: center;
    margin-right: 0;
  }

  > label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: grey;

    span {
      color: red;
    }
  }

  .Input {
    height: 30px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;

    @media only screen and (max-width: 550px) {
      width: 100%;
    }
  }

  > select {
    height: 30px;
    border-radius: 5px;

    @media only screen and (max-width: 550px) {
      width: 100%;
    }
  }
}

.ColorTitle {
  display: flex;
  align-items: center;

  .AddIcon {
    margin-left: 3px;
    font-size: 20px;
    cursor: pointer;
  }
}

.ColorContainer {
  .ColorInput {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 2px;
    border: 1px solid grey;
    border-radius: 2px;
  }
}

.Image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 20px;

  img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
  }

  @media only screen and (max-width: 380px) {
    width: 150px;
  }

  input {
    margin-top: 20px;
  }

  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  width: 150px;
  font-size: 14px;
}
