@use "src/styles";

.Product {
  margin: 20px;
}

.TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.Top {
  display: flex;
}

.ChartContainer {
  flex: 3;
}

.InfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;
  min-width: 300px;

  .Details {
    .Item {
      width: 250px;
      margin-bottom: 5px;
      border-bottom: 1px solid lightgrey;
    }
  }

  .ImageContainer {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }
}

.Details {
  margin-top: 10px;

  .Item {
    width: 150px;
    display: flex;
    justify-content: space-between;

    .Value {
      font-weight: 300;
    }
  }
}

.Bottom {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;

  form {
    display: flex;
    justify-content: space-between;
  }
}

.EditDetails {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 20px;
  }

  input {
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }
}

.Upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  button {
    border: none;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}

.FileUpload {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
}
