@use "src/styles";

.TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;

  @media only screen and (max-width: 380px) {
    h1 {
      font-size: 22px;
    }
  }
}

.Chart {
  margin: 0 20px;

  overflow-x: auto;
  overflow-y: hidden;

  //specific width to force chart to scroll
  //for felx ratio 1 to 4
  @media only screen and (max-width: 900px) {
    width: calc(((100vw - 20px) * 3 / 4) - 40px);
  }

  //when side menu is collapsible
  @media only screen and (max-width: 660px) {
    width: calc(100vw - 60px);
  }
}

.Product {
  display: flex;
  margin: 20px;
}

.InfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;
  margin-right: 20px;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  .Details {
    .Item {
      margin-bottom: 15px;
      border-bottom: 1px solid lightgrey;
    }
  }

  .ImageContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    span {
      font-weight: 600;
    }

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

.Details {
  margin-top: 10px;
  width: 100%;

  .Item {
    min-width: 200px;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 14px;
    }

    .Value {
      font-weight: 300;
    }
  }
}

.EditProduct {
  flex: 3;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;

  form {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.EditDetails {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 500px) {
    width: 100%;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 20px;
    max-width: 150px;
  }

  input {
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    width: 150px;

    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

.Upload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  button {
    border: none;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
  }
}

.FileUpload {
  display: flex;
  flex-direction: column;

  .ImageContainer {
    display: flex;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    label {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  input {
    display: none;
  }
}

.Uploaded {
  text-align: center;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
}
