.WidgetSmall {
  flex: 1;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  margin-right: 20px;
}

.Title {
  font-size: 22px;
  font-weight: 600;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
  }
}

.User {
  display: flex;
  flex-direction: column;
}

.UserName {
  font-weight: 600;
}

.UserTitle {
  font-weight: 300;
}

.Icon {
  font-size: 16px;
  margin-right: 5px;
}
