@use "src/styles";

.WidgetSmall {
  flex: 1;
  border-radius: 10px;
  -webkit-box-shadow: styles.$shadow;
  -moz-box-shadow: styles.$shadow;
  box-shadow: styles.$shadow;
  margin-right: 20px;
  height: 50vh;
  overflow: hidden;
}

.Wrapper {
  height: 50vh;
  overflow: auto;
  padding: 0 20px;
}

.Title {
  font-size: 22px;
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 15px 0;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
  }
}

.User {
  display: flex;
  flex-direction: column;
}

.UserName {
  font-weight: 600;
}

.UserTitle {
  font-weight: 300;
}

.Icon {
  font-size: 16px;
  margin-right: 5px;
}
