.NewUserComponent {
  form {
    display: flex;
    flex-wrap: wrap;
  }
}

.Item {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;

  label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
  }
}
