.SideBar {
  flex: 1;
  background-color: rgb(245, 245, 245);
  min-height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}

.Wrapper {
  padding: 20px;
  color: teal;
}

.Menu {
  margin-bottom: 10px;

  h1 {
    font-size: 16px;
    color: teal;
  }

  ul {
    list-style: none;
    padding: 5px;

    li {
      display: flex;
      padding: 5px;
      align-items: center;
      border-radius: 10px;
      font-size: 14px;

      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }

    .Disable {
      color: rgb(180, 180, 180);
    }

    .Selected {
      background-color: rgb(210, 210, 210);
    }
  }
}

.Icons {
  margin-right: 5px;
  font-size: 20px !important;
}

.Link {
  text-decoration: none;
  color: inherit;
}
