.UserLists {
  height: calc(100vh - 50px);
  width: 100%;
  padding: 20px;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    @media only screen and (max-width: 380px) {
      font-size: 14px;
    }
  }

  h1 {
    @media only screen and (max-width: 660px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 380px) {
      font-size: 20px;
    }
  }
}

.User {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.Edit {
  background-color: #3bb077;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.Delete {
  color: red;
  cursor: pointer;
}
